{% extends 'base.html' %}

{% block content %}

    <style>
        .testing {
            background-color : floralwhite;
            margin: 1rem;
            height: 48px;
            width: 48px;
            border-radius: .5rem;
            display: inline-block
        }
    </style>

    <div style="margin: 2rem; text-align: center">
        <h1>
            WELCOME
        </h1>
        <form action = "/account/CODE_SQUARE/" method="post">
            {% csrf_token %}
            <input type="text" name="input_text">
            <input type="submit" class="btn btn-outline-danger rounded-pill col-1 mt-3">
        </form>

        {% for code_square in code_square_list %}
            <h3>{{ code_square.text }}</h3>
        {% endfor %}

    </div>

{%  endblock %}
