{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <div class="m-5">
            <h4>
                LOG IN
            </h4>
        </div>
        <div>
            <form action="{% url 'accountapp:login' %}" method = "post">
                {% csrf_token %}
                {{ form }}
                <div class="m-5">
                    <input type="submit" class="btn btn-outline-danger rounded-pill col-1 mt-3">
{#                    class="btn btn-danger rounded-pill px-4"#}
                </div>
            </form>
        </div>
    </div>



{% endblock %}