.codesquare_header_logo {
    margin : 2rem 0;
    font-family: 'Chakra Petch', sans-serif;
}

.codesquare_header_button {
    margin-bottom: 2rem;
}

.codesquare_footer_logo {
    font-size: 2rem;
    margin: 1.5rem 0; font-family: 'Chakra Petch', sans-serif;
}

.codesquare_footer_button {
    margin-top: 1.5rem; font-family: 'Chakra Petch', sans-serif;
}

.mw-500 {
    max-width: 700px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 25rem;
    width: 25rem;
    border-radius: 30rem;
    object-fit: cover;
}

.NNS_B {
    font_family: "NanumSquareB", cursive;
}

.round_button {
    color:black;
    text-decoration: none;
    box-shadow: 0 0 2px black;
    /*box-shadow: 0 0 3px rgba(255, 0, 0, 0.8);*/
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: red;
}