.codesquare_header_logo {
    margin : 2rem 0;
    font-family: 'Chakra Petch', sans-serif;
}

.codesquare_header_button {
    margin-bottom: 2rem;
}

.codesquare_footer_logo {
    font-size: 2rem;
    margin: 1.5rem 0; font-family: 'Chakra Petch', sans-serif;
}

.codesquare_footer_button {
    margin-top: 1.5rem; font-family: 'Chakra Petch', sans-serif;
}

.mw-500 {
    max-width: 700px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 25rem;
    width: 25rem;
    border-radius: 30rem;
    object-fit: cover;
}

.NNS_B {
    font_family: "NanumSquareB", cursive;
}

.round_button {
    color:black;
    text-decoration: none;
    box-shadow: 0 0 2px black;
    /*box-shadow: 0 0 3px rgba(255, 0, 0, 0.8);*/
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: red;
}

.article_image {
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 .3rem grey;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}

.comment_box {
    text-align: left;
    border: solid;
    border-color: darkgrey;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font-size = 16px */
        font-size: 13px;
    }
}

.project_image {
    /*height: 90%;*/
    /*width: 90%;*/
    /*border-radius: 1rem;*/
    /*!*object-fit: cover;*!*/
    max-width: 700px;
    padding: 1rem 1.5rem;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    /*text-decoration: underline;*/
}