{#<div style="height: 10rem; background-color: #ECECEC; border-radius: 1rem; margin: 2rem;  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.23);">#}
{##}
{#</div>#}


<div style = 'text-align: center';>
    <div class = "codesquare_header_logo">
        <h1>CODE SQUARE</h1>
    </div>
    <div class = "codesquare_header_button">
        <span>
            <a href="{% url 'articleapp:list' %}">
                모아보기 /
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                게시판 /
            </a>
        </span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'subscribeapp:list' %}">
                구독 /
            </a>
        </span>
        {% endif %}
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                로그인 /
            </a>
        </span>
        <span>
            <a href = "{% url 'accountapp:create' %}">
                회원가입
            </a>
        </span>
        {% else %}
        <span>
            <a href = "{% url 'accountapp:detail' pk=user.pk %}">
                내 정보 /
            </a>
        </span>
        <span>
            <a href = "{% url 'accountapp:logout' %}">
                로그아웃
            </a>
        </span>
        {% endif %}
    </div>
</div>